.card {
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
}

.img-style {
    width: 200px;
    padding-top: 10px;
    margin: 0 auto;
}
.header-style {
    margin-top: 50px;
}
h4 {
    margin: 2rem 0 1rem;
}
.table-image td,
.table-image th {
    vertical-align: middle;
}
.table-style{
    margin-left: 20px;
    margin-right: 20px;
}